
*{
	font-family:verdana;
}

a,.nav-link{
	color:#fff;
}
p{
	margin-top:20px;
}
.row,h5,h2{
	padding:20px;
}
a:hover{
	text-decoration: none;
	color:#fff;
}
.links{
	font-weight: bold;
}
.links:hover{
	border-color:orange;
}
.inputH{
	border:1px solid transparent;
}
.red{
	color:red;
}

.title-beat{
	color:orange;
}
.btn-beat{
	background:orange;
}
.options-list{
	
	background:#3abbff;	
	background: -webkit-linear-gradient(top, #3abbff 50%, #3ab2f2 20%);  

}


.footer{
	background:#000;
	padding:10px;
	color:#fff;
}

.header-title{
	margin-left:20px;
}